@model MeuCrudCompleto.Models.Departamento

@{
    ViewData["Title"] = "Delete";
}

<h1>Deletar</h1>

<h3>Tem certeza que dezeza deletar?</h3>
<div>
    <h4>Departamento</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.nome)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Deletar" class="btn btn-outline-danger" />
        <button type="button" class="btn btn-outline-primary">
            <a asp-action="Index">Voltar </a>
        </button>
    </form>
</div>
